telegram_bot_token      = "123456789:ABCdefGHIjklMNOpqrsTUVwxyz"
telegram_admin_username = "your_telegram_username"
bucket_name             = "unique-bucket-name-12345"
aws_region              = "us-east-1"
